---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
        "resources/bootstrap",
        "resources/font-awesome";

// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑",  STXihei, "华文细黑", serif;
$base-font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;;

$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$brand-color:      #000;

$on-palm:          600px;
$on-laptop:        800px;

$padding-top: 30px;

// 主背景色(body)
$background-color: #e4e4e4;
// 文章列表， 文章，归档文章等工作区域的背景色
$content-background-color: #fff;
// meta font color
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);




// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout_sidebar",
  "layout_content",
  "syntax-highlighting"
;
