/**
 * content side : 右侧的side
 */
.content-side {
  padding: 0px;
}

/**
 * main-content : 右侧内容区域，除去footer部分
 */
.main-content {
  padding: 0 30px;
}
/**
 * 主页 > 文章列表
 */
.post-list {
  padding-top: $padding-top;
  color: #000;
}

.post-list > .post {
	margin-bottom: 30px;
}

.archives,
.post-list > .post, 
.per-post > .post-content {
  background-color: $content-background-color;
  padding: 30px;
}

/**
 * Post明细页面 > post
 */
.per-post {
  padding-top: $padding-top;
}

/**
 * 文章
 */
article {
  color: rgb(102, 102, 102);
}

// 文章摘要
article > .description {
  background-color: #FFFDDF;
  padding: 5px 10px;
  font-size: 14px;
  color: #000;
  font-style: italic;
  border: 1px dotted #9F9B63;
}

article > .content {
  // 小标题
  h4 {
    border-bottom: 1px solid #ddd;
    color: #574c4c;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }

  blockquote {
    background: #f6f6f6;
    border-left: 5px solid #657b83;
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px;
  }

  li {
    margin: 5px 0;
  }

  // 链接
  a {
    margin: 0 5px;
    color: #277999;
  }
  a:hover {
    text-decoration: underline;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-align: center;
}
.post-meta .post-date {
  border-radius: 50%;
  background-color: #88acdb;
  color: #fff;
  margin: auto;
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  p {
    font-size: 20px;
    padding: 2px;
  }
}
.post-meta .tags {
  margin-top: 10px;
  .tag {
    display: block;
  }
}

.post-title {
  display: block;
  font-size: 0.8em;
}
.post-title:hover {
  color: #657b83
}
.post-more {
  margin-top: 10px;
  a {
    color: #fff;
  }
}

/** per post中的一些特别的css */
.per-post {
  h2.title {
    margin-bottom: 30px;
  }
}

/** 分享到 */
.jiathis_style, .duoshuo {
  margin-top: 30px;
}

/** archives */
.archives {
  ul {
    list-style: none;

    li {
      padding: 10px 0;
      margin-left: 60px;
      border-bottom: 1px solid #eee;
    }
  }
  .year {
    font-size: 24px;
    margin: 20px 0 10px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
  }
  .post-date {
    font-size: 12px;
    color: $grey-color;
    font-family: "Times New Roman",Georgia,Serif;
  }
}
