---
layout: default
---
<div class="main-content per-post">
  <div class="post-content">
    <div class="col-sm-10">
      <article>
          <h2 class="title"><a class="post-title" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h2>
          {% if page.description%}
            <div class="description">
              <span>摘要:</span>
              {{ page.description }}
            </div>
          {% endif %}
          <div class="content">
            {{ content }}
          </div>
      </article>
    </div>
    <div class="col-sm-2 post-meta">
      {% include post_meta.html %}
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix">
    {% include license.html %}
  </div>

  <div class="clearfix">
    {% include jia_this.html %}
  </div>

  <div class="clearfix">
    {% include duoshuo.html %}
  </div>
</div>

